
.container{
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.calculator{
    height: 500px;
    width: 500px;
   border-radius: 20px;
    background-color: rgb(30, 27, 27);
   
}
.display{
    width: 100%;
    height: 25%;
    padding: 2%;
   
   
    
    
}
.display input{
    width: 96%;
    height: 98%;
   
    text-align: end;
    font-size: 3rem;
    border-style: none;
   background-color: rgb(53, 50, 50);
   border-radius: 20px;
   color:rgb(236, 236, 228); ;
   
} 
.keys{
  
 
  height: 70%;
    display: grid;
   padding: 0px 10px;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
   
    
} 
button{
   
    border: none;
    background-color: rgb(53, 50, 50);
    border-radius: 15px;
    color:rgb(236, 236, 228);
    font-size: 2rem;
    cursor:pointer;
    font-weight: bolder;

}
button:hover{
    background-color: azure;
    color: brown;
}
.operator{
    background-color: rgb(171, 119, 46);
}

@media  only screen and (max-width:600px) {
    .calculator{
        height: 98%;
        width: 97%;
    }
    .display{
        height:30%
        width
    }
    .keys{
        height: 67%;
    }
    
}

@media  only screen and (min-width:760px) and (max-width:990px){
    .calculator{
        height: 100%;
        width: 100%;
    }
    
}