*{
    margin: 0;
    padding: 0;
    color:var(--text-color)
   
   
   
  
}
/* body{
    background: black;
} */
:root{
    --bg-color: rgb(23, 19, 19);
    --text-color:white;
    --main-color:#3058b5;

}
body{
    background-color: black;
   
}
a:hover{
    color: var(--main-color);
}
header{
   position: fixed;
   top: 0;
   left: 0;
   width:100%;
    z-index: 100;
    display: flex;
   background-color: var(--bg-color);
    padding: 1rem;
    justify-content:space-around;
  
  
}
#menu-icon{
    display: none;
    text-decoration: none;
    font-size: 3rem;
}
#menu-icon:hover{
    color: var(--main-color);
}
span{
    color:var(--main-color);
}
header h3{
    font-size: 3rem;
}
.navbar a{
   text-decoration: none;
    font-size: 1.5rem;
   padding: 1rem;
}
.navbar a:hover{
   
    background-color: bisque;
  color: var(--main-color)

}
.home{
   height: 100vh;
   width: 100%;
   padding: 1rem;
    display: flex;
  font-size: 2rem;
  flex-direction: column;
   text-align: center;
  align-items:center;
  justify-content: center;
  background-color: var(--bg-color);
   
}
.home a button{
   font-size: 1.5rem;
   background-color: var(--main-color);
   border-radius: 10px;
   border: none;
 width: 30vh;
   height: 2.5rem;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1rem;
   
}
.myimage img{
    width: 35vw;
    height: 80vh;
    margin: 2rem;
    border-radius: 40%;
    border: 4px solid var(--main-color);
   
}
.about-content{
    background-color: var(--bg-color);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
   align-items: center;
}
.about h3{
    text-align: center;
}
.about h1{
    text-align: center;
}
.education{
    width: 95vw;
   padding: 20px;
   display: flex;
   flex-direction: column;
   font-size: 1.5rem;
   text-align: center;
   
}
.education h1{
    margin: 5rem;
}

.educationsub{
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
} 
.edu img{
    width: 100%;
    height: 20%;
   
}
.edu{
   background-color: var(--bg-color);
    height: 300px;
    border-radius: 2rem;
    display: flex;
 flex-direction: column;
}
.services{
    text-align: center;
   
}
.services h2{
    margin-bottom: 5rem;
    margin-top: 5rem;
    font-size: 3rem;
}
.services1{
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2rem
}
.services-box{
    padding: 1rem;
    background: var(--bg-color);
    border-radius: 2rem;
    font-size: 1.5rem;
    border: 1px solid var(--main-color);
}
.services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.projects h1{
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;

}
.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    gap:1rem
}
.project{
    font-size: 1.5rem;
    border-radius: 2rem;
    text-align: center;
    background-color: var(--bg-color);
}
.project:hover{
    border: 1px solid var(--main-color);
    transform: scale(1.05);
}
.project img{
    height: 60%;
    width: 80%;
    margin-top: 1rem;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
}
.contact2{
    display: flex;
    flex-direction: column;
}
.btn-submit{
    width: 40%;
    height: 2rem;
    background-color: var(--main-color);
    border-radius: 1rem;
    align-self: center;
}
.icons{
    display: flex;
    justify-content: space-around;
}
.contact input, .contact2 textarea{
    width: 95%;
    border: 0;
    outline: none;
    background:var(--main-color);
    padding: 10px;
    margin: 10px 0;
    color:var(--text-color);
    font-size: 1.5rem;
    border-radius: 6px;
}
.contact1{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



   
    @media (max-width:770px){
        #menu-icon{
            display: block;
            padding: 1rem;
          
        }
        html{
            font-size:70%;
        }
        .navbar{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
           
            padding: 1rem ;
            background: var(--bg-color);
            border-top: .1rem solid rgba(0,0,0,.2);
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.2) ;
            display: none;
        }
        .navbar.active{
            display: block;
        }
        .navbar a{
            display: block;
            font-size: 1rem;
            margin: 3rem 0;
        }
        .about{
            display: flex;
            flex-direction: column;
        }
        .myimage img{
            width: 70vw;
            height: 50vh;
        }
        .educationsub{
           
            display:grid;
           grid-template-columns: 1fr ;
           gap: 0;
    }
    .edu{
        width: 100%;
        height: 200px;
        margin-top:1rem ;
    }
    .services1{
        padding-left: 1rem;
        padding-right: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        gap:2rem
    }
    .project-container{
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem;
        gap:1rem
    }
    .contact{
        
        display: grid;
        grid-template-columns:1fr;
        gap: 2rem;
        padding: 2rem;
        font-size: 1.5rem;
}
.contact1{
    height: 40vh;}
}